{# This creates the VLAN database entries #}
{% for num in range(4004,4008) %}
no vlan {{num}}
{% endfor %}
{# This creates the SVIs #}
{% for num in range(4004,4008) %}
no interface vlan{{num}}
{% endfor %}